.search input{
    margin-top: 10px;
    height: 70px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    font-size: 1.5em;
}

.search label{
    font-size: 30pt;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search form{
    margin-top: 30px;
    margin-bottom: 10px;
}

.search button{
    float: right;
    border-radius: 10px;
}

.search-result{
    margin-top: 30px;
}

.not-found {
    font-size: 1.5em;
}

.table-wrapper-scroll-y{
    display: block;
    max-height: 400px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
