<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <form-text formControlName="name" [errors]="f.name.errors" [errorVisible]="submitted">Name</form-text>
    <form-text formControlName="username" [errors]="f.username.errors" [errorVisible]="submitted">Username</form-text>
    <form-text formControlName="email" [type]="'email'" [errors]="f.email.errors" [errorVisible]="submitted">Email</form-text>
    <form-text formControlName="password" [type]="'password'" [errors]="f.email.errors" [errorVisible]="submitted">Password</form-text>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
        <a routerLink="/auth/login" class="btn btn-link">Cancel</a>
    </div>
  </div>
</form>
<app-loading [visible]="loading"></app-loading>
