<mat-card>
    <mat-card-title>Reset Your Password</mat-card-title>
    <mat-card-content>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <p>Please enter your new password</p>
            <app-password-input-form-control [submitted]="submitted" [parentGroup]="resetPasswordForm"></app-password-input-form-control>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button [disabled]="loading" color="primary" (click)="onSubmit()">Submit</button>
    </mat-card-actions>
</mat-card>
<app-loading [visible]="loading"></app-loading>