<mat-card>
    <mat-card-title>Change Password</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <form-input formControlName="oldpassword" [type]="'password'" [errors]="f.oldpassword.errors"
                [errorVisible]="submitted" [placeholder]="'Old Password'" [icon]="'history'"></form-input>

            <form-input formControlName="newpassword" [type]="'password'" [errors]="f.newpassword.errors"
                [errorVisible]="submitted" [placeholder]="'New Password'" [icon]="'lock'"></form-input>

            <form-input formControlName="confirmpassword" [type]="'password'" [errors]="f.confirmpassword.errors"
                [errorVisible]="submitted" [placeholder]="'Re-enter New Password'" [icon]="'lock'"></form-input>

            <button mat-raised-button [disabled]="loading" color="primary">
                <mat-icon><i class="material-icons md-dark">done</i></mat-icon>Change
            </button>
            <a mat-button routerLink="/home" class="btn btn-link">
                <mat-icon><i class="material-icons md-dark">cancel</i></mat-icon>Cancel
            </a>

        </form>
    </mat-card-content>
</mat-card>
<app-loading [visible]="loading"></app-loading>