<mat-card>
    <mat-card-title>Change Password</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-old-password-input-form-control [submitted]="submitted" [parentGroup]="form"></app-old-password-input-form-control>
            <mat-form-field>
                <mat-icon matPrefix><i class="material-icons md-dark" >lock</i></mat-icon>
                <input matInput placeholder="New Password" type="password" formControlName="newpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }" />
                <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                    <mat-error *ngIf="f.newpassword.errors.required">The password is required.</mat-error>
                    <mat-error *ngIf="f.newpassword.errors.minlength">Minimum length of password is 8 characters.</mat-error>
                    <mat-error *ngIf="f.newpassword.errors.atLeastOneNonAlphabetic">The password must contain at least one non-alphabetic character.</mat-error>
                    <mat-error *ngIf="f.newpassword.errors.atLeastFourAlphabetic">The password must contain at least four alphabetic characters.</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field>
                <mat-icon matPrefix><i class="material-icons md-dark" >lock</i></mat-icon>                    
                <input matInput placeholder="Re-enter New Password" type="password" formControlName="confirmpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
                <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                    <mat-error *ngIf="f.confirmpassword.errors.required">Confirm Password is required.</mat-error>
                    <mat-error *ngIf="f.confirmpassword.errors.matchPassword">Password confirmation doesn't match.</mat-error>
                </div>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button [disabled]="loading" color="primary"><mat-icon><i class="material-icons md-dark" >done</i></mat-icon>Change</button>
        <a mat-button routerLink="/home" class="btn btn-link"><mat-icon><i class="material-icons md-dark" >cancel</i></mat-icon>Cancel</a>
    </mat-card-actions>
</mat-card>
<app-loading [visible]="loading"></app-loading>
