<mat-form-field [formGroup]="parentGroup">
  <mat-icon matPrefix><i class="material-icons md-dark" >account_box</i></mat-icon>
  <input matInput type="text" formControlName="{{name}}" [ngClass]="{'is-invalid': submitted && parentGroup.get(name).errors}" placeholder="{{label}}"/>
  <div *ngIf="submitted && parentGroup.get(name).errors" class="invalid-feedback">
    <mat-error *ngIf="parentGroup.get(name).errors.required">The name is required.</mat-error>
    <mat-error *ngIf="parentGroup.get(name).errors.maxlength">Maximum length of name is 50 characters.</mat-error>
  </div>
</mat-form-field>

