<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-title>Forgot your password?</mat-card-title>
        <mat-card-content>
            <p>Please enter the email that you want to reset the password</p>
            <form-input formControlName="email" [type]="'text'" [errors]="f.email.errors"
                [errorVisible]="submitted" [placeholder]="'Email'" [icon]="'email'"></form-input>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="loading" color="primary">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>
<app-loading [visible]="loading"></app-loading>