<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <mat-icon matPrefix><i class="material-icons md-dark">email</i></mat-icon>
                <input matInput type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                    placeholder="Username or Email" />
                <div *ngIf="submitted && f.username.errors">
                    <mat-error *ngIf="f.username.errors.required">Username is required.</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field>
                <mat-icon matPrefix><i class="material-icons md-dark">lock</i></mat-icon>
                <input matInput type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    placeholder="Password" />
                <div *ngIf="submitted && f.password.errors">
                    <mat-error *ngIf="f.password.errors.required">Password is required.</mat-error>
                </div>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="loading" color="primary">
                <mat-icon><i class="material-icons md-dark">done</i></mat-icon>
                Login
            </button>
            <a mat-button routerLink="/users/register" class="btn btn-link">
                <mat-icon><i class="material-icons md-dark">person_add</i></mat-icon>
                Register
            </a>
            <a mat-button routerLink="/users/forgot-password" class="btn btn-link">
                <mat-icon><i class="material-icons md-dark">contact_support</i></mat-icon>
                Forgot Password
            </a>
        </mat-card-actions>
    </mat-card>
</form>
<app-loading [visible]="loading"></app-loading>