<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <form-text formControlName="username" [errors]="f.username.errors" [errorVisible]="submitted">Username or email</form-text>
    <form-text formControlName="password" [type]="'password'" [errors]="f.password.errors" [errorVisible]="submitted">Password</form-text>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Login</button>
        <a routerLink="/users/register" class="btn btn-link">Register</a>
        <a routerLink="/users/forgot-password" class="btn btn-link">Forgot Password</a>
    </div>
  </div>
</form>
<app-loading *ngIf="loading"></app-loading>
