<mat-form-field [formGroup]="parentGroup">
  <mat-icon matPrefix><i class="material-icons md-dark" >business</i></mat-icon>
  <input matInput type="text" formControlName="{{name}}" class="form-control" [ngClass]="{'is-invalid': submitted && parentGroup.get(name).errors}" placeholder="{{label}}"/>
  <div *ngIf="submitted && parentGroup.get(name).errors">
    <mat-error *ngIf="parentGroup.get(name).errors.required">The company is required.</mat-error>
    <mat-error *ngIf="parentGroup.get(name).errors.maxlength">Maximum length of company is 50 characters.</mat-error>
  </div>
</mat-form-field>