<div class="form-group" [formGroup]="parentGroup">
  <label for="{{name}}">{{label}}</label>
  <input type="password" formControlName="{{name}}" class="form-control" [ngClass]="{'is-invalid': submitted && parentGroup.get(name).errors}" />
  <div *ngIf="submitted && parentGroup.get(name).errors" class="invalid-feedback">
    <div *ngIf="parentGroup.get(name).errors.required">The password is required.</div>
    <div *ngIf="parentGroup.get(name).errors.minlength">Minimum length of password is 8 characters.</div>
    <div *ngIf="parentGroup.get(name).errors.atLeastOneNonAlphabetic">The password must contain at least one non-alphabetic character.</div>
    <div *ngIf="parentGroup.get(name).errors.atLeastFourAlphabetic">The password must contain at least four alphabetic characters.</div>
  </div>
</div>
