<div class="container page">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h2>Update Profile</h2>
      <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="hidden" formControlName="id" class="form-control"/>
        </div>
        
        <app-name-input-form-control [submitted]="submitted" [parentGroup]="updateProfileForm"></app-name-input-form-control>

        <app-bio-input-form-control [submitted]="submitted" [parentGroup]="updateProfileForm" [rows]="5"></app-bio-input-form-control>

        <app-company-input-form-control [submitted]="submitted" [parentGroup]="updateProfileForm"></app-company-input-form-control>

        <app-location-input-form-control [submitted]="submitted" [parentGroup]="updateProfileForm"></app-location-input-form-control>

        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Update Profile</button>
          <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a routerLink="/" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>