<div class="container page">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h2>Update Profile</h2>
      <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="hidden" formControlName="id" class="form-control" ng-/>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': submitted && f.name.errors}" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">The name is required.</div>
            <div *ngIf="f.name.errors.maxlength || f.name.errors.emptyValid">Maximum length of name is 255 characters.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="bio">Bio</label>
          <textarea rows="5" formControlName="bio" class="form-control" [ngClass]="{'is-invalid': submitted && f.bio.errors}"></textarea>
          <div *ngIf="submitted && f.bio.errors" class="invalid-feedback">
            <div *ngIf="f.bio.errors.required">The bio is required.</div>
            <div *ngIf="f.bio.errors.maxlength || f.bio.errors.emptyValid">Maximum length of bio is 255 characters.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="company">Company</label>
          <input type="text" formControlName="company" class="form-control" [ngClass]="{'is-invalid': submitted && f.company.errors}" />
          <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
            <div *ngIf="f.company.errors.required">The company is required.</div>
            <div *ngIf="f.company.errors.maxlength || f.company.errors.emptyValid">Maximum length of company is 50 characters.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" formControlName="location" class="form-control" [ngClass]="{'is-invalid': submitted && f.location.errors}" />
          <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
            <div *ngIf="f.location.errors.required">The location is required.</div>
            <div *ngIf="f.location.errors.maxlength || f.location.errors.emptyValid">Maximum length of location is 100 characters.</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Update Profile</button>
          <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a routerLink="/" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>