<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">The name is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">The username is required.</div>
            <div *ngIf="f.username.errors.minlength">Minimum length of username is 6 characters.</div>
            <div *ngIf="f.username.errors.pattern">Please create a username with only alphanumeric characters.</div>
        </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">The email is required.</div>
          <div *ngIf="f.email.errors.pattern">Please provide a valid email address.</div>
      </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">The password is required.</div>
            <div *ngIf="f.password.errors.minlength">Minimum length of password is 8 characters.</div>
            <div *ngIf="f.password.errors.atLeastOneNonAlphabetic">The password must contain at least one non-alphabetic character.</div>
            <div *ngIf="f.password.errors.atLeastFourAlphabetic">The password must contain at least four alphabetic characters.</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
<app-loading [visible]="loading"></app-loading>
